@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Times New Roman", Times, serif;
}

/* Global Tags */

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* Navigation */
.nav{
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: black;
  z-index: 100;
}
.nav-logo p{
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul{
  display: flex;
}
.nav-menu ul li{
  list-style-type: none;
}
.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}

.link:hover, .active{
  border-bottom: 2px solid #fff;
}
.nav-button .btn{
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
  margin-left: 15px;
}
.btn.white-btn{
  background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
  background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
  display: none;
}
/* Home */
#home{
  background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("../images/back.jpg");
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#home h2{
  color: #fff;
  font-size: 2.2rem;
  letter-spacing: 1px;
}
#home .btn{
  margin-top: 30px;
}
#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 30px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
#home a.blue{
  color: #fff;
  background-color: rgb(21,21,100);
}
#home a.blue:hover{
  color: rgb(21,21,100);
  background-color: #FDC93B;
}
#home a.yellow{
  color: #fff;
  background-color: #FDC93B;
}
#home a.yellow:hover{
  color: #FDC93B;
  background-color: #fff;
}
/* features */
#features{
  padding: 2vw 8vw 0 8vw ;
  text-align: center;
}
#features .fea-base{
  display: flex;
  flex-direction: column;
}

#features .fea-base .fea-box{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.feabox_content_title .title{
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}
.feabox_content_details{
  margin-top: 20px;
}
.feabox_content_title .content{
  text-align: left;
  margin-left: 20px;
  font-size: 15px;
  
}
#features .fea-base .fea-box .feabox_date{
  flex:1;
  border-right: 0.5px solid lightgray;
}
#features .fea-base .fea-box .feabox_date .date{
 font-size: 60px;
 color: #FFB606;
 font-weight: 700;
}
.feabox_content{
  flex: 2;
  display: flex;
  justify-content: space-between;
}
.feabox_content img{
  width: 270px;
  height: 139px;
}

/* course */
#course{
  padding: 8vw 8vw 0 8vw;
  text-align: center;
}
#course .courses{
  text-align: start;
  background-color: #F9F9FF;
  height: 100%;
  position: relative;
  cursor: pointer;
}
#course .courses img{
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center; /* Đặt điểm neo là giữa ảnh */

}
#course .courses img:hover{
  transform: scale(1.1);
}
#course .course-box{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  grid-gap:1rem;
  margin-top: 50px;
}
#course .courses .details{
  padding: 15px 15px 0 15px;
}
#course .courses .details i{
  color: #FDC93B;
  font-size: 0.9rem;
}
#course .courses .cost{
  background-color: rgb(74,74,136);
  color: #fff;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 100px;
}

/* registration */
#registration{
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(rgba(99,112,168,0.5),rgba(81,91,233,0.5)),url("../images/signup.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#registration .reminder{
color: #fff;
}
#registration .reminder .time{
  display: flex;
  margin-top: 50px;
}
#registration .reminder .time .date{
  text-align: center;
  padding:13px 33px ;
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 9px 32px 0 rgba(31,38,135,0.37);
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgba(255,255,255,0.25);
  font-size: 1.1rem;
  font-weight: 600;
}
#registration .form{
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 40px 80px;
}
#registration .form input{
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(84,40,241);
  outline: none;
}
#registration .btn{
  margin-top: 20px;
}
#registration .form a.yellow{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 14px 35px;
  
}
#registration a.yellow{
  color: #fff;
  background-color: #FDC93B;
}
#registration a.yellow:hover{
  color: #FDC93B;
  background-color: #fff;
}
/* experts */
#comment{
  margin: 2vw auto;
}
#comment h2{
  text-align: center;
  font-size: 32px;
  color: #232355;
}
#comment-body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  list-style: none;
  overflow: hidden;
}
#list-comment{
  width: 75%;
  height: 100%;

  transition: 0.5s;
  list-style: none;
}
#list-comment .item .stars{
  display: flex;
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
#list-comment .item .name{
  text-align: center;
  font-weight: bold;
  color:#fff;
}
#list-comment .item .text{
  text-align: center;
  font-weight: bold;
  padding: 20px 40px;
  color:#fff;
}
.stars i {
  color: rgb(253, 201, 59);
  margin: 2px;
}
#list-comment .item{
  width: 100%;
  height: 100%;
  background: #362f2f;
  border-radius: 20px;
  padding-top: 30px;
}
#list-comment .item .avatar{
 text-align: center;
 margin-top: 20px;
}
.prev a img, .next a img{
  height: 25px;
  width: 25px;
  margin: 0 10px;
}
/* footer */
.eduma{
  width: 123px;
  height: 40px;
  
}
footer{
  padding: 9vw;
  background-color: #101C32;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}
footer .footer-col{
  padding-bottom: 40px;
}
footer h3{
  color: #fff;
  font-weight: 600;
  padding-bottom: 20px;
}
footer li{
  list-style: none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
footer li:hover{
  color:rgb(241,240,245);
}

/* About */

/* Blog */

/* Course_inner */

/* contact */

/* responsive */

@media (max-width: 769px) {
  
}

@media (max-width: 475px) {
}
